@import './default.less';

.main
{
    width: @logo-width;

    background-color: @side-two-color;
}

.main-sider-open
{
    width: @side-open-width;
}

.ul
{
    list-style-type: none;
}

.ul li a
{
    text-decoration: none;
}
